* {
	margin:	 0;
	padding: 0;
}

body {
	padding: 0 75px;
	background: #E2DDDB url("../i/bg.gif");
	color: #333;
	font-family: "Lekton", monospace;
	vertical-align: baseline;
	text-shadow: 1px 1px 1px #efefef;
}

div.divider {
	border-bottom: 3px solid #333;
}

h4 {
	margin-top: 73px;
	padding-top: 74px;
	border-top: 3px solid #333;

	font-size:	 50px;
	line-height: 75px;
	font-weight: 100;
	letter-spacing: -1px;
}

p {
	font-size:	 25px;
	line-height: 75px;
	text-align: center;
	text-shadow: 0 0 0 #efefef !important;
/*	font-style: italic;*/
	letter-spacing: -1px;
}

h4 a:link {
	color: #333;
	text-decoration: none;
	border-bottom: 3px solid #333;
}
h4 a:visited {
	color: #666;
	border-bottom: 3px solid #666;
}
h4 a:hover {
	color: #333;
	border-bottom: 3px dashed #333;
}
h4 a:active {
	color: #333;
	border-bottom: 3px dotted #333;
}

p a:link {
	color: #333;
	text-decoration: none;
	border-bottom: 2px solid #333;
}
p a:visited {
	color: #666;
	border-bottom: 2px solid #666;
}
p a:hover {
	color: #333;
	border-bottom: 2px dashed #333;
}
p a:active {
	color: #333;
	border-bottom: 2px dotted #333;
}

.container_8, .grid_1 {
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
}
.grid_1 {
	width: 98px !important;
}

::selection {
        background: #FBB03B; /* Safari */
        }
::-moz-selection {
        background: #FBB03B; /* Firefox */
}