#content .stage {
  position: relative;
  background-image: url(../images/background.gif);
  background-repeat: repeat; }
  #content .stage .moment:hover {
    z-index: 9999; }
#content div.label.image {
  text-overflow: ellipsis; }

.minimap {
  z-index: 9999;
  position: fixed;
  background: #d1d1d1; }
  .minimap .loader {
    position: absolute;
    background: #efefef;
    top: 0;
    left: 0;
    line-height: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 6px;
    margin-left: 21.5px; }
  .minimap canvas {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    cursor: ns-resize; }
  .minimap div.viewport {
    position: absolute;
    background: #00ffc8;
    border-top: 2px solid #00ffc8;
    border-bottom: 2px solid #00ffc8;
    width: 100%;
    left: 0; }
  .minimap .clock {
    position: absolute;
    top: 6px;
    right: -63px;
    width: 63px;
    text-align: center; }
    .minimap .clock > * {
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto; }
    .minimap .clock .day {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0; }

div.legend {
  font-family: 'Lekton', 'Nuvo Pro', monospace;
  position: absolute;
  margin-top: 182px;
  margin-left: -41.5px;
  z-index: 1000; }
  div.legend div.metric {
    position: relative;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 300px;
    height: 0;
    overflow: visible;
    line-height: 0;
    border-bottom: 1px solid #d1d1d1;
    margin-left: -1px; }
    div.legend div.metric p {
      margin: 0 auto;
      position: relative;
      top: -5px;
      line-height: 10px;
      text-align: center;
      border-left: 1px solid #d1d1d1;
      border-right: 1px solid #d1d1d1; }
      div.legend div.metric p span {
        background: #efefef;
        padding: 0 6px; }
