@import 'bourbon/bourbon';
@import 'shared';

#content {

  .stage {
    position: relative;
    .moment:hover {
      z-index: 9999;
    }
  }

}

.minimap {
  position: fixed;
  background: #d1d1d1;
  .loader {
    position: absolute;
    background: $white;
    top: 0;
    left: 0;
    line-height: 0;
    @include border-radius(50%);
    @include user-select(none);
  }
  canvas {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    cursor: ns-resize;
  }
  div.viewport {
    position: absolute;
    background: $green;
    border-top: 2px solid $green;
    border-bottom: 2px solid $green;
    width: 100%;
    left: 0;
  }
}

.loader {
  position: absolute;
  margin-top: $gutter / 2;
  margin-left: ($single_column - $loader-width) / 2;
}
